*{
  // border: 1px solid #000 !important;
}
.chatroomlist_BGI {
  background-color: $colorHeader;
}
//☆=========== 總寬 ==========☆
.max_width {
  max-width: 1080px;
  margin: 0 auto;
}
//☆=========== 白色背景 ==========☆
.chatroomlist_container {
  background-color: #fff;
  width: 94%;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 40px;
}
//☆=========== LOGO ==========☆
.miubuy {
  background-image: url(/image/logo.png);
  background-size: cover;
  width: 210px;
  height: 75px;
  margin: 0 auto;
  a {
    width: 200px;
    height: 75px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
  }
}
.room_logo_group {
  position: relative;
  height: 100px;
  width: 400px;
  margin: 0 auto;
}
.room_subtitle {
  font-family: myfont, serif;
  font-size: 24px;
  margin-left: 180px;
  color: darken($colorBrown, 5%);
  font-weight: bold;
  position: absolute;
  transform: translateY(-10px);
}
//☆=========== 搜尋欄 ==========☆
.search-bar_group {
  padding-top: 12px;
  display: flex;
  justify-content: center;
}
.search-bar {
  font-family: myfont, japanese-font, serif;
  padding-left: 10px;
  height: 40px;
  width: 30%;
  border-radius: 8px;
  border: 2px solid $colorHvBrown;
  color: darken($colorBrown, 10%);
  font-size: 20px;
  &::placeholder {
    color: $colorBrown;
    font-size: 18px;
  }
}
.search_btn {
  width: 50px;
  background-color: $colorBrown;
  border-radius: 0px 8px 8px 0px;
  transform: translateX(-10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  i {
    cursor: pointer;
  }
}
.tag_group {
  z-index: 1000;
  font-family: myfont, japanese-font, serif;
  background-color: $colorBrown;
  width: 48%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 12px;
  border-radius: 5px;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0 auto;
  margin-top: 5px;
  width: 90%;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-width: 90px;
    height: 36px;
    padding: 5px 5px;
    margin-top: 14px;
    color: #fff;
    cursor: pointer;
  }
}
.tags_title {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.select_group {
  position: absolute;
  top: 13px;
  left: 25%;
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 100px;
}
.select_country,
.select_area {
  font-family: 'japanese-font';
  height: 28px;
  width: 25%;
  padding-left: 6px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  color: $colorBrown;
}
.re-select_btn {
  font-family: 'japanese-font';
  height: 28px;
  width: 12%;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: $colorBrown;
}
.map_selector {
  position: relative;
  height: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}
.map_select_jp {
  transition: all 0.5s;
  position: absolute;
  top: -280px;
  background-image: url(/image/cat_map_img.png);
  background-size: cover;
  width: 140px;
  height: 110px;
  margin-left: 50px;
  transform: translateY(-10px);
  &:hover {
    transform: rotate(10deg);
    cursor: pointer;
  }
}
.map_select_tw {
  transition: all 0.5s;
  position: absolute;
  top: -280px;
  right: 50px;
  background-image: url(/image/cat_map_img_tw.png);
  background-size: cover;
  width: 140px;
  height: 110px;
  transform: translateY(-10px);
  &:hover {
    transform: rotate(-10deg);
    cursor: pointer;
  }
}
//☆=========== 鼠標 ==========☆
.mouseSymbol {
  transition: none;
  // 設定不接受滑鼠事件--
  pointer-events: none;
  z-index: 10;
  //------------------
  position: absolute;
  &:before {
    content: '';
    display: block;
    background-image: url(/image/cat_icon.png);
    width: 40px;
    height: 40px;
    background-size: cover;
  }
  // &:after {
  //   transform: translate(-50%, -50%) rotate(90deg);
  // }
}
//☆=========== 聊天室狀態 ==========☆
.chatroom_status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'japanese-font';
  font-size: 22px;
  color: $colorBrown;
  margin-right: 50px;
  &:hover {
    color: $colorHeader;
  }
  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.ribon_pink {
  width: 46px;
  margin-right: 8px;
}
.room_star {
  width: 35px;
}
//☆=========== 聊天室 ==========☆
$color_ribon: rgb(204,104,116);
.chatroom_list {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.user_name {
  font-size: 24px;
}
.roomsName {
  font-size: 24px;
  color: $color_ribon;
}
.chatroom {
  position: relative;
  width: 30%;
  border: 2px solid $colorBrown;
  border-radius: 5px;
  font-family: myfont, japanese-font, serif;
  font-size: 22px;
  color: darken($colorBrown, 15%);
  margin-bottom: 50px;
}
.room_cover {
  background-image: url(/image/main_visual.jpg);
  background-size: cover;
  background-position: center center;
  height: 150px;
  background-color: #eee;
}
.profile_img {
  background-image: url(/image/download20201101225100.png);
  background-color: $colorHeader;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 100%;
}
.user_group {
  padding-left: 8px;
  padding-top: 8px;
  display: flex;
  align-items: center;
}
.user_account {
  a {
    text-decoration: none;
    color: $colorBrown;
    &:hover {
      color: $colorOrange;
    }
  }
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
.room_info {
  padding: 10px;
  h3 {
    margin-bottom: 15px;
  }
  span {
    color: $colorBrown;
  }
  p {
    margin-left: 20px;
    line-height: 1.5;
    color: $colorBrown;
  }
  .hr {
    width: 100%;
    background-color: lighten($colorBrown, 30%);
    height: 1px;
    margin-bottom: 15px;
  }
}
.roomtag_group {
  margin-top: 20px;
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  li {
    margin-bottom: 20px;
  }
  li a {
    text-decoration: none;
    background-color: $colorDeepPink;
    color: #fff;
    padding: 6px;
    margin-right: 8px;
    border-radius: 5px;
    &:hover {
      background-color: $colorPink;
    }
  }
}
.room-enter_btn {
  background-image: url(/image/enter_btn.png);
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 60px;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.room_rule {
  min-height: 50px;
  p {
    max-height: 100px;
    overflow-y: scroll;
  }
}
::-webkit-scrollbar {display:none}
//☆=========== 分頁 ==========☆
.pagination {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}
.pagination_img {
  width: 215px;
  height: 80px;
  background-image: url(/image/pagination.png);
  background-size: cover;
}
.page_num_group {
  position: relative;
  height: 100%;
}
.prep {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.next {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.page_1st {
  font-family: myfont, japanese-font, serif;
  position: absolute;
  left: 66px;
  width: 23px;
  bottom: 0px;
  color: rgb(255, 255, 255);
  border: none;
  transform: rotate(-5deg);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $colorBrown;
  }
}
.page_2nd {
  font-family: myfont, japanese-font, serif;
  position: absolute;
  left: 95px;
  width: 24px;
  bottom: 1px;
  color: rgb(255, 255, 255);
  border: none;
  transform: rotate(5deg);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $colorBrown;
  }
}
.page_3rd {
  font-family: myfont, japanese-font, serif;
  position: absolute;
  left: 127px;
  width: 23px;
  bottom: -2px;
  color: rgb(255, 255, 255);
  border: none;
  transform: rotate(-3deg);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $colorBrown;
  }
}
.page_4th {
  font-family: myfont, japanese-font, serif;
  position: absolute;
  left: 157px;
  width: 23px;
  bottom: 8px;
  color: rgb(255, 255, 255);
  border: none;
  transform: rotate(5deg);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $colorBrown;
  }
}
button:focus {
  outline: none;
}
.tag-pink {
  background-color: $colorPink;
  &:hover {
    background-color: darken($colorPink, 5%);
  }
}
.tag-purple {
  background-color: $colorPurple;
  &:hover {
    background-color: darken($colorPurple, 5%);
  }
}
.tag-green {
  background-color: $colorGreen;
  &:hover {
    background-color: darken($colorGreen, 7%);
  }
}
.tag-blue {
  background-color: $colorBlue;
  &:hover {
    background-color: darken($colorBlue, 5%);
  }
}
.tag-orange {
  background-color: $colorOrange;
  &:hover {
    background-color: darken($colorOrange, 5%);
  }
}
.tag-yellow {
  background-color: $colorYellow;
  &:hover {
    background-color: darken($colorYellow, 7%);
  }
}
.tag-deep-pink {
  background-color: $colorDeepPink;
  &:hover {
    background-color: darken($colorDeepPink, 5%);
  }
}
footer {
  position: relative;
}
.copyright {
  position: absolute;
  bottom: 0;
  span {
    font-size: 10px;
    margin-right: 3px;
  }
}
.return-chatroom_btn {
  position: fixed;
  top: 350px;
  left: 8px;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px) translateX(3px);
  }
}
.return-chatroom_display-none {
  display: none;
}
.roomsName {
  width: 100%;
}
.fullmember {
  background-image: url(/image/full.png);
  background-size: cover;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  bottom: 0;
}