.checkout_BGI {
  background-color: $colorHeader;
}
.checkout_container {
  max-width: 920px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.memo-area {
  resize: none;
  white-space: pre-wrap;
}