$colorBrown: rgb(169, 148, 127);
$colorHvBrown: rgba(182, 159, 136, 0.899);
$colorCat: #fff8e3;
$colorHeader: #fcd676;
$colorUnderline: #ffd36dd4;
$bgc: #ffffff;
$colorPink: rgb(255, 208, 234);
$colorPurple: #ecc1ff;
$colorGreen: rgb(145, 228, 216);
$colorBlue: rgb(177, 230, 255);
$colorOrange: rgb(255, 187, 131);
$colorYellow: rgb(255, 224, 101);
$colorDeepPink: #eb95bd;
$colorBar: #d57580;
